::root {
  --ff-regular: Helvetica, sans-serif;
  --fs-regular: 22px;
  --color-bg: black;
  --color-fg: seashell;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: inherit;
  padding: inherit;
  background-color: gray;
}
